*{
    padding: 0px;
    margin: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar{
    background-color: white;
    position: fixed;
    width: 100vw;
    /* Modif à faire navbar devient 5vh quand scroll sur 9vh */
    height: 9vh;
    overflow-y: hidden;
}

.navbar-logo{
    margin-bottom: 200px;
    width: 75px;
    width: 75px;
}

.nav-link{
    margin-bottom: 200px;
    
    margin-right: 35px;
}

.nav-items{
    font-style:'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.nav-items:active{
    font-size: 16px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

/* Presentation of the asso */
.home-text{

}

.image-pres-asso{
    margin-top: 100px;
    width: 300px;
    height: 250px;
    object-fit: fill;
}

h1{
    text-align: center;
}

/* Image event */
.image-event-asso{
    width: 300px;
    height: 200px;
}

/* Image history */
.image-history-asso{
    width: 300px;
    height: 250px;
}

/* footer */
.footer{
    font-size: x-large;
    font-style: italic;
    
    font-size: 12px;
    box-shadow: 20px 10px 13px 7px #000000;
}

.info{
    margin-left: 50px;
}